name: Yak

on:
  release:
    branches: 
    - main
    - master
    - development

jobs:
  publish:
    name: Publish to Yak
    runs-on: windows-latest
    env:
      YAK_TOKEN: ${{ secrets.YAK_TOKEN }}
      
    
    steps:
    - uses: actions/checkout@v2
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: '3.1.x'

    - name: Install dependencies
      run: dotnet restore .\Axis.sln --verbosity normal
      
    - name: Build
      run: dotnet build --configuration Yak --no-restore --verbosity normal
      
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      
      # Get the assembly version
    - uses: dotnet/nbgv@master
      with:
        setAllVars: true

    - name: Push main version to Yak
      if: contains(github.ref, "master")
      uses: pfmephisto/rhino-yak@v1
      with:
        build-directory: ./dist
        version: "$Env:SimpleVersion"
        

    - name: Push development version to Yak
      if: contains(github.ref, "development")
      uses: pfmephisto/rhino-yak@v1
      with:
        build-directory: ./dist
        version: "$Env:NBGV_SemVer2"
