<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="Axis" Language="1033" Version="1.0.0.0" Manufacturer="Axis" UpgradeCode="d000ed65-0763-4fd2-b85d-6583ea88a85c">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perUser" />
    <!-- Don't forget to manage the version number iteration before updating the installer. -->

    <MajorUpgrade DowngradeErrorMessage="A newer version of Axis is already installed." AllowSameVersionUpgrades="yes"/>
    <MediaTemplate EmbedCab="yes"/>

    <!-- Installer UI package variables -->
    <UIRef Id="WixUI_InstallDir" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <WixVariable Id="WixUILicenseRtf" Value="EULA.rtf" />

    <Feature Id="ProductFeature" Title="AxisInstaller" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="OtherFolders" />
    </Feature>
  </Product>

  <!--Added a subdir for the user objects (/>)-->
  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="AppDataFolder" Name="Roaming">
        <Directory Id="GRASSHOPPER" Name="Grasshopper">
          <Directory Id="GHLIBRARIES" Name="Libraries">
            <Directory Id="INSTALLFOLDER" Name="Axis">
            </Directory>
          </Directory>
        </Directory>
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>
    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Id="INSTALLFOLDER" Guid="6A86D03C-EA7E-419C-A227-7B7E4CD3F691">
        <RemoveFolder Id='INSTALLFOLDER' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]' Type='string' Value='' KeyPath='yes' />
      </Component>

      <Component Id="mainGHA" Guid="DCCE6D53-8E49-426A-8006-E72BE6EDBDA2">
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHA' Type='string' Value='' KeyPath='yes' />

        <File Source="$(var.Axis.TargetDir)" Name="Axis.gha"/>
        <File Source="$(var.Axis.TargetDir)Axis.dll"/>
      
        <!-- Include other source files harvested from heat.exe etc. -->
      
      </Component>
    </ComponentGroup>

    <ComponentGroup Id="OtherFolders">
      <Component Id="GHLIBRARIES" Directory="GHLIBRARIES" Guid="830D63FE-00A1-4FF4-9A43-FFADE23E8681">
        <RemoveFolder Id='GHLIBRARIES' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHLIB' Type='string' Value='' KeyPath='yes' />
      </Component>
      <Component Id="GHROOT" Directory="GRASSHOPPER" Guid="898C28F6-4517-4FBE-A99E-610B56D5AF91">
        <RemoveFolder Id='GRASSHOPPER' On='uninstall' />
        <RegistryValue Root='HKCU' Key='Software\[Manufacturer]\[ProductName]\GHROOT' Type='string' Value='' KeyPath='yes' />
      </Component>
    </ComponentGroup>
  
  </Fragment>
</Wix>
